.tree {
  list-style-type: none;
  padding: 0;
}

.toggler {
  transition: 0.9s;
  margin: 15px;
}

.toggler.active {
  transform: rotate(90deg);
}

.node {
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 1px dashed gray;
}

.node:hover {
  cursor: pointer;
}

.node-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0 20px;
}

.header-container {
  display: flex;
  margin: 5px 20px;
  justify-content: space-between;
}

.header-button {
  background: none;
  border: none;
  cursor: pointer;
}

.header-button:hover {
  transition: all ease-in 0.2s;
  color: grey;
}

.bold {
  font-weight: bold;
}
